.or-template,
.or-template--aside {
  max-width: calc(900 / 16 * 1rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gap);

  .or-main,
  .or-aside {
    grid-column: 1 / 1;
    margin: var(--space-xl) 0;
    padding: 0 var(--space-l);
  }
}

@media (min-width: 1025px) {
  .or-template--aside {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .or-main {
      grid-column: 1 / 2;
    }

    .or-aside {
      grid-column: 2 / 3;
    }
  }
}

.or-aside h2:first-of-type {
  margin-top: 0;
}
