.or-header {
  background-color: #f8f9fa;
  padding: calc(20 / 16 * 1rem);
  text-align: center;
}

.or-logo {
  display: inline;
  width: 100%;
  max-width: calc(300 / 16 * 1rem);
  height: auto;
  margin-bottom: var(--space-xl);
  padding: var(--space-m);
}

.or-nav-item {
  display: inline-block;
  margin: 0 1rem 1rem 0;

  a {
    color: #007bff;
    font-family: var(--font-cond-bold);
    letter-spacing: 0.05em;
  }
}

.or-footer {
  background-color: #f8f9fa;
  padding: calc(10 / 16 * 1rem);
  text-align: center;
  color: #777;
}
