[data-theme="primary"] {
  --color-bg: var(--color-blue);
  --color-text: var(--color-white);
  --color-border: var(--color-white);
  --color-outline: var(--color-blue);
  --color-accent: var(--color-white);
}

[data-theme="secondary"] {
  --color-bg: var(--color-green);
  --color-text: var(--color-black);
  --color-border: var(--color-black);
  --color-outline: var(--color-green);
  --color-accent: var(--color-black);
}

[data-theme="tertiary"] {
  --color-bg: var(--color-yellow);
  --color-text: var(--color-blue);
  --color-border: var(--color-blue);
  --color-outline: var(--color-yellow);
  --color-accent: var(--color-blue);
}

[data-theme="quaternary"] {
  --color-bg: var(--color-terra);
  --color-text: var(--color-black);
  --color-border: var(--color-black);
  --color-outline: var(--color-terra);
  --color-accent: var(--color-black);
}
